<ion-header>
  <ion-toolbar>
    <ion-title>{{ task ? 'Edit Task' : 'New Task' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-input label="Title" labelPlacement="stacked" formControlName="title" placeholder="Task title"></ion-input>
    </ion-item>
    @if (form.get('title')?.hasError('required') && form.get('title')?.touched) {
      <ion-text color="danger">
        <p class="ion-padding-start">Task title is required</p>
      </ion-text>
    }

    <ion-item>
      <ion-select label="Status" labelPlacement="stacked" formControlName="status">
        @for (s of statuses; track s) {
          <ion-select-option [value]="s">{{ s }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input label="Due Date" labelPlacement="stacked" formControlName="due_date" type="date"></ion-input>
    </ion-item>
  </form>

  <ion-button expand="block" class="ion-margin-top" (click)="save()">Save</ion-button>
</ion-content>